<header>
  <div class="titulo">
    <div class="posicion__titulo">
      <img class="logo" src="/images/Clinica Logo.jpg" alt="logo">
      <h1>Clinica Cuidar</h1>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/pacientes">Pacientes</a></li>
      <li><a href="/turnos">Turnos</a></li>
    </ul>
  </nav>
</header>
