<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
        <main>
            <h2>
                <%= message %>
            </h2>
            <div class="tabla pacientes">

            </div>
            <div class="tabla turnos">

            </div>
        </main>
        <footer>

        </footer>

    </body>

</html>