<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>

  <main>
    <h2><%= message %></h2>

    <!-- Tabla vacía, se llena con JS -->
    <%- include('./partials/tabla-pacientes') %>
  </main>

  <footer></footer>

  <script src="js/pacientes.js"></script>
</body>
</html>