<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>

  <main>
    <h2>Turnos Registrados</h2>
    <%- include('./partials/tabla-turnos') %>
  </main>

  <footer></footer>
  <script src="js/turnos.js"></script>
</body>
</html